
<pre>
<body style="font-family:courier; line-height: 0">
  <p>Battleship placed! Your name is still <%=@visitor%>!!!!!!!!</p>
  <% @matrix.split("\n").each do | row | %>
    <p><%= row %></p>
  <% end %>
  <p>Place your Cruiser!(3 spaces long)</p>
  <p>Coordinates:</p>
  <form action="/destroyer">
    <input name="coordinate3" type="text">
    <select name="cruiser_placing">
    <option value=horizontally>Horizontally to the right</option>
    <option value=vertically>Vertically down</option>
    <input value="Submit" type="submit">
  </form>
</body>
</pre>